{% extends "myapp/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Profile</h2>
  <p><strong>Username:</strong> {{ student.user.username }}</p>
  <p><strong>Email:</strong> {{ student.user.email }}</p>
  <h4>Completed Courses</h4>
  <ul>
    {% for course in completed_courses %}
      <p>{{ course.name }} ({{ course.code }})</p>
    {% empty %}
      <li>No completed courses</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
